$base-font: "Source Sans Pro", sans-serif;
$logo-font: "Hind", sans-serif;

$base-text-color: #2c2f3c;
$second-text-color:#ABC3CE;
$underline-color: #14a0c7;
$button-color: #fff;

$btn-background: #699900;
$second-gradient:#2E5CD4;
$card-background:#21232E;
$body-background: #fff;

$backgroung-img: "../img/m-h-day.jpg";
$card-1-img: "../img/m-1.jpg";
$card-2-img: "../img/m-2.jpg";
$card-3-img: "../img/m-3.jpg";

$gradient-colors: (color1: $btn-background,color2: $second-gradient);
