@media print {
  .tm-sidebar,
  .tm-team-img,
  #about,
  .gallery-container,
  .carousel-indicators,
  #contact,
  .img-contact-us {
    display: none;
  }

  body,
  .tm-main-content,
  .container {
    padding: 0;
    background-color: #fff;
  }

  .tm-content-box,
  .tm-section-description:last-child {
    margin: 0;
  }

  .container,
  .tm-team-description-container {
    max-width: 100%;
    font-size: 0.875rem;
  }

  .padding-medium,
  .carousel {
    padding: 0 40px 30px 40px;
  }

  .tm-section-description,
  h2 {
    text-align: center;
  }

  h2 {
    color: lightskyblue;
    font-weight: 300;
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  .padding-medium ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }

  li a {
    color: #000;
  }

  li::first-letter {
    font-size: 1.5rem;
    color: lightskyblue;
  }

  li:nth-child(odd) {
    padding-right: 200px;
  }

  li:nth-child(even) {
    padding-left: 200px;
  }
}

.gallery-container h2:nth-child(odd):hover {
  background-color: lightskyblue;
  color: #fff;
}

.tm-main-nav,
.tm-content-box {
  box-shadow: 0px 0px 10px 0px rgba(61, 55, 61, 0.7);
}

.tm-banner {
  background-color: #76cdd7;
}

.tm-banner-inner {
  background-color: #fff;
}

.tm-banner-text {
  text-shadow: 0 3px 1px rgba(136, 206, 250), 0 11px 1.5px rgba(136, 206, 250);
  letter-spacing: 0.15em;
  word-spacing: 0.7em;
}

section::before {
  content: "";
  width: 0;
  height: 0;
  border-right: 40px solid transparent;
  border-top: 40px solid lightskyblue;
}

.heading h2 {
  color: lightskyblue;
  text-transform: uppercase;
  text-align: center;
  font-weight: 300;
}

.heading ol {
  list-style-type: lower-roman;
}

.heading a {
  color: #000;
  padding-left: 2px;
  border-left: 3px solid transparent;
  position: relative;
}

.heading a:visited {
  color: #ffb347;
}

.heading a:hover {
  color: #ffb347;
  font-weight: 600;
  text-decoration: none;
  border-left-color: #ffb347;
}

.heading .text::after {
  content: "New";
  position: absolute;
  color: rgb(252, 0, 0);
  font-weight: bold;
  font-size: 0.625rem;
  font-variant: small-caps;
}

.gallery-container .box-work {
  padding: 8px;
}

.gallery-container .box-work:nth-child(even) {
  background: #f8f8f8;
}

.gallery-container .box-work h2 {
  font-size: 1.25rem;
}

.gallery-container .box-work p {
  font-size: 0.6rem;
  font-style: italic;
}

.gallery-container .box-work p::first-letter {
  font-size: 0.7rem;
  font-weight: 500;
}

.contact-form input {
  border: 0;
  border-bottom: 2px solid lightskyblue;
  border-radius: 3px;
}

#contact_message {
  border: 2px solid lightskyblue;
  border-radius: 3px;
  resize: none;
}

.contact-form input:focus {
  background-color: lightskyblue;
  border-bottom: 2px solid lightskyblue;
  color: #fff;
}

.contact-form .submit-btn {
  background-color: #fff;
  border: 2px solid lightskyblue;
  border-radius: 0;
  color: lightskyblue;
  float: right;
  padding: 1rem 4rem;
}

.contact-form .submit-btn:hover {
  background-color: lightskyblue;
  color: #fff;
}

.tm-nav-item:hover {
  background-color: #f8f8f8;
}

h2 + p {
  font-style: italic;
}

h2 ~ p {
  line-height: 1.5em;
  text-indent: 1.5em;
}

.tm-banner-text {
  animation: rotate-vert-center 4s ease-in-out infinite;
}

@keyframes rotate-vert-center {
  0% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(360deg);
  }
}
